.animate-drop-above {
    animation: dropDown 2s ease-out forwards;
}

.animate-drop-right{
    animation: dropRight 2s ease-out forwards;
}

.animate-drop-left{
    animation: dropLeft 2s ease-out forwards;
}

.animate-drop-down{
    animation: dropUp 2s ease-out forwards;
}

@keyframes dropDown {
    0% {
        transform: translateY(-60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes dropRight {
    0% {
        transform: translateX(60px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes dropLeft {
    0% {
        transform: translateX(-60px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes dropUp {
    0% {
        transform: translateY(60px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}